/*

	All code and data belongs to Wise Owl, and must not be reproduced or distributed
	in any way without prior written permission
	
	Note that this code is not written as a training aid, but instead is just
	a means to create a SQL Server database on the user's computer
	
	Code assumes HistoricalEvents database does not already exist
	
*/

USE Master
go

-- drop database if exists
BEGIN TRY
	DROP Database HistoricalEvents
END TRY

BEGIN CATCH
	-- database can't exist
END CATCH

-- create new database
CREATE DATABASE HistoricalEvents
go

USE HistoricalEvents
GO

/****** Object:  Table [dbo].[tblCountry]    Script Date: 02/08/2010 09:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCountry](
	[CountryId] [bigint] IDENTITY(1,1) NOT NULL,
	[CountryName] [varchar](255) NULL,
	[ContinentId] [bigint] NULL,
 CONSTRAINT [PK_tblCountry] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblCountry] ON
INSERT [dbo].[tblCountry] ([CountryId], [CountryName], [ContinentId]) VALUES (1, N'Australia', 6)
INSERT [dbo].[tblCountry] ([CountryId], [CountryName], [ContinentId]) VALUES (2, N'Belgium', 3)
INSERT [dbo].[tblCountry] ([CountryId], [CountryName], [ContinentId]) VALUES (3, N'Canada', 4)
SET IDENTITY_INSERT [dbo].[tblCountry] OFF
/****** Object:  Table [dbo].[tblContinent]    Script Date: 02/08/2010 09:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblContinent](
	[ContinentId] [bigint] IDENTITY(1,1) NOT NULL,
	[ContinentName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblContinent] PRIMARY KEY CLUSTERED 
(
	[ContinentId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblContinent] ON
INSERT [dbo].[tblContinent] ([ContinentId], [ContinentName]) VALUES (1, N'Asia')
INSERT [dbo].[tblContinent] ([ContinentId], [ContinentName]) VALUES (2, N'Africa')
INSERT [dbo].[tblContinent] ([ContinentId], [ContinentName]) VALUES (3, N'Europe')
SET IDENTITY_INSERT [dbo].[tblContinent] OFF
/****** Object:  Table [dbo].[tblEvent]    Script Date: 02/08/2010 09:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEvent](
	[EventId] [bigint] IDENTITY(1,1) NOT NULL,
	[EventName] [nvarchar](255) NULL,
	[EventDate] [datetime] NULL,
	[Description] [nvarchar](255) NULL,
	[CountryId] [bigint] NULL,
 CONSTRAINT [PK_tblEvent] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblEvent] ON
INSERT [dbo].[tblEvent] ([EventId], [EventName], [EventDate], [Description], [CountryId]) VALUES (1, N'VE Day', CAST(0x000040B300000000 AS DateTime), N'VE Day', 17)
INSERT [dbo].[tblEvent] ([EventId], [EventName], [EventDate], [Description], [CountryId]) VALUES (2, N'Channel Islands liberated', CAST(0x000040B400000000 AS DateTime), N'Channel Islands liberated', 17)
INSERT [dbo].[tblEvent] ([EventId], [EventName], [EventDate], [Description], [CountryId]) VALUES (3, N'UN Charter signed', CAST(0x000040E400000000 AS DateTime), N'UN Charter signed, in San Francisco', 19)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
SET IDENTITY_INSERT [dbo].[tblEvent] OFF
/****** Object:  ForeignKey [FK_tblEvent_tblCountry]    Script Date: 02/08/2010 09:49:47 ******/
ALTER TABLE [dbo].[tblEvent]  WITH CHECK ADD  CONSTRAINT [FK_tblEvent_tblCountry] FOREIGN KEY([CountryId])
REFERENCES [dbo].[tblCountry] ([CountryId])
GO
ALTER TABLE [dbo].[tblEvent] CHECK CONSTRAINT [FK_tblEvent_tblCountry]
GO
